<ol class="list-unstyled">
  <li class="row">
    <div class="col-6 form-control">
      <label for="codigo">Identificação</label>
      <input id="codigo" [(ngModel)]="movimentacao.codigo" *ngIf="movimentacao">
    </div>
    <div class="col-6">
    </div>
    <div class="col-6 form-control">
      <label for="viagem">Viagem</label>
      <select id="viagem" (change)="onSelectViagem($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let viagem of viagens"
        [value]="viagem.id" [selected]="viagem.id == movimentacao?.viagem?.id">
          {{viagem.id}}
        </option>
      </select>
    </div>
    <div class="col-6 form-control">
      <label for="data">Velocidade</label>
      <input type="number" min="0" max="220" id="data" [(ngModel)]="movimentacao.velocidade" *ngIf="movimentacao">
    </div>
  </li>
</ol>
<button (click)="save()">Gerar movimentação!</button>
