<ol class="list-unstyled">
  <li class="row">
    <div class="col-6 form-control">
      <label for="nome">Nome</label>
      <input id="nome" [(ngModel)]="modelo.nome" *ngIf="modelo">
    </div>
    <div class="col-6 form-control">
      <label for="marca">Marca</label>
      <select id="marca" (change)="onSelectMarca($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let marca of marcas"
        [value]="marca.id" [selected]="marca.id == modelo?.marca?.id">
          {{marca.nome}}
        </option>
      </select>
    </div>
  </li>
</ol>
<button *ngIf="isNewForm()" (click)="save()">Salvar</button>
<button *ngIf="!isNewForm()" (click)="update()">Atualizar</button>
