<h1 class="pt-3"></h1>
<div class="card" id="dataView">
  <div class="card-header" data-toggle="collapse" data-target="#dataView1"
  aria-expanded="false" aria-controls="collapseExample">
    <div class="float-left">
      <h4>Olá, sejam bem-vindos!</h4>
    </div>
  </div>
  <div class="collapse show" data-parent="#dataView" id="dataView1">
    <div class="card-body">
      <p>
        Ao abrir alguma das outras páginas pela <b>primeira vez</b>, ela demorará em média <b>15s para carregar</b>. Depois volta ao normal.<br>
        Isso ocorre porque está sendo usado opções gratuitas de hospedagem para as tecnologias envolvidas.
      </p>
      <p>
         Apenas o SIMULADOR é <i>pago</i>. Por esse motivo, ele <i>nem sempre estará operacional</i>, pois o deixo <i>online</i> apenas quando necessário <i>apresentar</i>.
      </p>
      <p>
        Agradeço a compreensão.
      </p>
    </div>
  </div>
</div>