<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01"
    aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">OnTruck</a>

  <div class="collapse navbar-collapse" id="navbarToggler01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" tabindex="1" data-toggle="dropdown"
        id="dropdownLugares" aria-haspopup="true" aria-expanded="false">Lugares</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownLugares">
          <a class="dropdown-item" tabindex="2"
          (click)="navigate('estados')" (keydown.enter)="navigate('estados')">Estados</a>
          <a class="dropdown-item" tabindex="3"
          (click)="navigate('cidades')" (keydown.enter)="navigate('cidades')">Cidades</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" tabindex="4" data-toggle="dropdown"
        id="dropdownLugares" aria-haspopup="true" aria-expanded="false">Caminhões</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownLugares">
          <a class="dropdown-item" tabindex="5"
          (click)="navigate('cores')" (keydown.enter)="navigate('cores')">Cores</a>
          <a class="dropdown-item" tabindex="6"
          (click)="navigate('marcas')" (keydown.enter)="navigate('marcas')">Marcas</a>
          <a class="dropdown-item" tabindex="7"
          (click)="navigate('modelos')" (keydown.enter)="navigate('modelos')">Modelos</a>
          <a class="dropdown-item" tabindex="8"
          (click)="navigate('veiculos')" (keydown.enter)="navigate('veiculos')">Veículos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" tabindex="9"
        (click)="navigate('motoristas')" (keydown.enter)="navigate('motoristas')">Motoristas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" tabindex="10" aria-disabled="true"
        (click)="navigate('viagens')" (keydown.enter)="navigate('viagens')">Viagens<span class="sr-only">(atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" tabindex="10" aria-disabled="true"
        (click)="navigate('movimentacoes')" (keydown.enter)="navigate('movimentacoes')">Movimentações<span class="sr-only">(atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" tabindex="11" aria-disabled="true"
        (click)="navigate('simulador')" (keydown.enter)="navigate('simulador')">SIMULADOR<span class="sr-only">(atual)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownUsuarioConfiguracao" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <fa-icon [icon]="iconFaUser"></fa-icon>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="dropdownUsuarioConfiguracao">
          <a class="dropdown-item disabled" href="#" tabindex="-1">Bruno</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sair</a>
        </div>
      </li>
    </ul>

  </div>
</nav>