<ol class="list-unstyled">
  <li class="row">
    <div class="col-6 form-control">
      <label for="data">Data</label>
      <input id="data" [(ngModel)]="viagem.data" *ngIf="viagem">
    </div>
    <div class="col-6 form-control">
      <label for="veiculo">Veículo</label>
      <select id="veiculo" (change)="onSelectVeiculo($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let veiculo of veiculos"
        [value]="veiculo.id" [selected]="veiculo.id == viagem?.veiculo?.id">
          {{veiculo.placa}}
        </option>
      </select>
    </div>
    <div class="col-6 form-control">
      <label for="origem">Origem</label>
      <select id="origem" (change)="onSelectOrigem($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let cidade of cidades"
        [value]="cidade.id" [selected]="cidade.id == viagem?.origem?.id">
          {{cidade.nome}}
        </option>
      </select>
    </div>
    <div class="col-6 form-control">
      <label for="destino">Destino</label>
      <select id="destino" (change)="onSelectDestino($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let cidade of cidades"
        [value]="cidade.id" [selected]="cidade.id == viagem?.destino?.id">
          {{cidade.nome}}
        </option>
      </select>
    </div>
    <div class="col-6 form-control">
      <label for="motorista1">Motorista 1</label>
      <select id="motorista1" (change)="onSelectMotorista1($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let motorista of motoristas"
        [value]="motorista.id" [selected]="motorista.id == viagem?.motorista1?.id">
          {{motorista.nome}}
        </option>
      </select>
    </div>
    <div class="col-6 form-control">
      <label for="motorista2">Motorista 2</label>
      <select id="motorista2" (change)="onSelectMotorista2($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let motorista of motoristas"
        [value]="motorista.id" [selected]="motorista.id == viagem?.motorista2?.id">
          {{motorista.nome}}
        </option>
      </select>
    </div>
  </li>
</ol>
<button *ngIf="isNewForm()" (click)="save()">Salvar</button>
<button *ngIf="!isNewForm()" (click)="update()">Atualizar</button>
