
<h1 class="pt-3"></h1>
<div class="card" id="dataView">
  <div class="card-header" data-toggle="collapse" data-target="#dataView1"
  aria-expanded="false" aria-controls="collapseExample">
    <div class="float-left">
      <h4>{{titulo}}</h4>
    </div>
  </div>
  <div class="collapse show" data-parent="#dataView" id="dataView1">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <ng-container>
              <th *ngIf="false">id</th>
              <th *ngFor="let coluna of colunas">{{coluna.header}}</th>
            </ng-container>
            <th>
              <span class="float-right">
                <button class="btn btn-outline-success btn-sm"
                *ngIf=showIconAdd (click)="add()">
                  <fa-icon [icon]="iconAdd"></fa-icon>
                </button>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let linha of linhas; index as i">
            <td>{{i+1}}</td>
            <ng-container *ngFor="let coluna of linha; index as j">
              <td *ngIf="j!==0">{{coluna.field}}</td>
            </ng-container>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm"
                *ngIf=showIconEdit (click)="edit(linha[0].field)">
                  <fa-icon [icon]="iconEdit"></fa-icon>
                </button>
                <button class="btn btn-outline-danger mb-1 btn-sm"
                *ngIf=showIconRemove (click)="remove(linha[0].field)">
                  <fa-icon [icon]="iconRemove"></fa-icon>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>