<ol class="list-unstyled">
  <li class="row" *ngFor="let keys of linhas">
    <div class="col-6" *ngFor="let key of keys">
      <label [for]="key">{{key}}</label>
      <input [id]="key" [(ngModel)]="marca[key]">
    </div>
  </li>
</ol>
<button *ngIf="isNewForm()" (click)="save()">Salvar</button>
<button *ngIf="!isNewForm()" (click)="update()">Atualizar</button>