<footer class="mt-5">
  <div class="fixed-bottom page-footer font-small dark">
    <div class="container">
      <div class="footer-copyright text-center text-muted py-3">
        © 2020 Copyright: <a href="#"> OnTruck.com</a>
      </div>
    </div>
  </div>
</footer>
