<ol class="list-unstyled">
  <li class="row">
    <div class="col-6 form-control">
      <label for="nome">Nome</label>
      <input id="nome" [(ngModel)]="cidade.nome" *ngIf="cidade">
    </div>
    <div class="col-6 form-control">
      <label for="estado">Estado</label>
      <select id="estado" (change)="onSelectEstado($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let estado of estados"
        [value]="estado.id" [selected]="estado.id == cidade?.estado?.id">
          {{estado.nome}}
        </option>
      </select>
    </div>
  </li>
</ol>
<button *ngIf="isNewForm()" (click)="save()">Salvar</button>
<button *ngIf="!isNewForm()" (click)="update()">Atualizar</button>
