<ol class="list-unstyled">
  <li class="row">
    <div class="col-6 form-control">
      <label for="placa">Placa</label>
      <input id="placa" [(ngModel)]="veiculo.placa" *ngIf="veiculo">
    </div>
    <div class="col-6 form-control">
      <label for="cor">Cor</label>
      <select id="cor" (change)="onSelectCor($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let cor of cores"
        [value]="cor.id" [selected]="cor.id == veiculo?.cor?.id">
          {{cor.nome}}
        </option>
      </select>
    </div>
    <div class="col-6 form-control">
      <label for="modelo">Modelo</label>
      <select id="modelo" (change)="onSelectModelo($event.target.value)">
        <option  value="0">--Selecione--</option>
        <option *ngFor="let modelo of modelos"
        [value]="modelo.id" [selected]="modelo.id == veiculo?.modelo?.id">
          {{modelo.nome}}
        </option>
      </select>
    </div>
    <div class="col-6 form-control">
      <label for="ano">Ano</label>
      <input id="ano" [(ngModel)]="veiculo.ano" *ngIf="veiculo">
    </div>
    <div class="col-6 form-control">
      <label for="kmTotal">Km Total</label>
      <input id="kmTotal" [(ngModel)]="veiculo.kmTotal" *ngIf="veiculo">
    </div>
  </li>
</ol>
<button *ngIf="isNewForm()" (click)="save()">Salvar</button>
<button *ngIf="!isNewForm()" (click)="update()">Atualizar</button>
